::selection 
{
  	background: yellow; /* WebKit/Blink Browsers */
  	color: salmon;
}

::-moz-selection 
{
  	background: yellow; /* Gecko Browsers */
  	color: salmon;
}

.no-side-padding
{
	padding: auto 0px auto 0px;
}

.pagination-centered 
{
	text-align: center;
}

.navbar
{
	background: salmon;
	border: none;
	border-radius: 0px;
}

a.navbar-brand
{
	color: #fff !important;
	font-weight: bolder;
}

#side-nav
{
	width: 200px;
}

.admin-card
{
	width: 300px;
	height: 400px;
	position: relative;
	border: 2px solid #000;
	padding: 0px;
	border-radius: 10px;
	background: #fff;
	overflow: hidden;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.admin-card .highlight
{
	width: 100%;
	height: 200px;
	background: #fff;
	top: 0px;
	left: 0px;
}

.admin-card .highlight h2
{
	line-height: 200px;
	margin: 0px;
	font-size: 100px;
	color: #222;
	text-align: center;
}

.admin-card .content
{
	width: 100%;
	height: 200px;
	color: #333;
	position: absolute;
	left: 0px;
	top: 200px;
	text-align: center;
	padding: 20px 40px;
}

.admin-card .content h3
{
	font-size: 20px;
}

.btn-ghost-admin
{
	background: transparent;
	color: black;
	border: 2px solid black;
	margin-top: 20px;
}

.btn-ghost-admin:hover
{
	background: yellow !important;
}

.table-listing-view-all
{
	margin-top: 50px;
}

.table-listing-view-all thead
{
	font-size: 12px;
}

.filter-search
{
	float: right;
	width: 350px;
}

.pagination 
{
  height: 36px;
  margin: 18px 0;
  display: block;
}

.pagination ul 
{
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li 
{
  display: inline;
}

.pagination a 
{
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}

.pagination li:first-child a 
{
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.pagination li:last-child a 
{
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.pagination-centered 
{
  text-align: center;
}