.book-now-wrapper
{
	padding: 5px 20px 20px;
	background: salmon;
	border-radius: 3px;
	background-image:url('../img/pattern-book-box.png');
}

.book-now
{
	padding: 10px 10px 10px 0;
	text-align: center;
}

.book-now h3
{
	font-size: 1.5em;
	padding: 6px 0px 3px;
	border-bottom: 5px solid lightsalmon;
	margin: 20px auto 15px;
	color: #fff;
	display: inline-block;
}

.book-now span.item_price
{
	font-size: 3em;
	display: block;
	text-align: center;
	color: #fff;
	margin: 0px;

	-webkit-animation-name: shine;
	-webkit-animation-duration: 2.25s;
	-webkit-animation-delay: 6s;
	-webkit-animation-iteration-count: infinite;
}

.book-now span.item_price::after
{
	content: 'per traveler';
	text-align: center;
	display: block;
	font-size: 14px;
	line-height: 1;
	margin-bottom: 20px;
}

/* book now module */

.form-control[readonly]
{
	background: #fff;
}

.book-box label
{
	color: #fafafa;
	font-size: 14px;
	font-weight: 700;
}

.book-box .form-group
{
	margin-bottom: 0px;
}

.book-box .input-group
{
	width: 100%;
	text-align: center;
}

.book-box input.form-control
{
	border: 0;
}

.book-box .form-horizontal .control-label
{
	padding: 0;
	text-align: left;
	height: auto;
}

.book-box .select-date,
.book-box .select-travelers
{
	cursor: pointer;
	color: #777;
	border: 0;
	width: 50px;
}

.book-box .btn-book-now
{
	margin: 30px 0 0;
	padding: 8px 20px;
	width: 100%;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 0.25px;
}

.book-box .link-ask-us
{
	color: #fff;
	font-weight: 700;
	letter-spacing: 0.25px;
	font-size: 13px;
	padding-bottom: 10px;
}

.affix 
{
	top: 10px;
	width: 380px;
	/*right: calc(50vh-585px);*/
}

/* min-height fo affix */
@media (max-height: 800px) { 
	.affix
	{
/*		position: relative;
*/	}
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) { 
	.book-box .input-group
	{
		width: 90%;
		text-align: center;
	}
}

@media (max-width: 767px) { 
	.book-box .input-group
	{
		width: 100%;
	}
}
