.card-basic
{
	/*-webkit-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
	-moz-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
	box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);*/
	
	width: 100%;
	height: auto;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	background: #fff;
}

.card
{
	/*-webkit-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
	-moz-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
	box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);*/
	
	width: 100%;
	height: 430px;
	background: #eee;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	border-radius: 0;
	-moz-transition: all .1s;
	-webkit-transition: all .1s;
	transition: all .1s;
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
	z-index: 60;

	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.card:hover
{
	/*-webkit-box-shadow: 0px 0px 10px 1px rgba(153,153,153,0.3);
	-moz-box-shadow: 0px 0px 10px 1px rgba(153,153,153,0.3);
	box-shadow: 0px 0px 10px 1px rgba(153,153,153,0.3);*/
	
	/*-moz-transform: scale(1.02,1.02);
	-webkit-transform: scale(1.02,1.02);
	transform: scale(1.02,1.02);*/
}

.card:active,
.card:focus
{	
	/*-webkit-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
	-moz-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
	box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
	box-shadow: none;*/
	
	-moz-transform: scale(0.99,0.99);
	-webkit-transform: scale(0.99,0.99);
	transform: scale(0.99,0.99);
}

.card-basic,
.card.result,
.card.cause,
.card.review,
.card.book,
.card.add-ons,
.monkey-card
{
	height: auto;
	background: #fff;
	border-radius: 0;
	/*-webkit-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.2);
	-moz-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.2);
	box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.2);*/
	border: 1px solid #eee;
}

.card .item .carousel-caption
{
	padding: 0px;
}

.card span.item_geo,
.card span.item_geo_2
{
	font-size: 14px;
	color: #777;
	line-height: 1.2;
	font-weight: normal;
}

.la_monkey_carousel_promonkey .item .carousel-caption .content,
.card .item .carousel-caption .content
{
	background: #fff;
	height: 95px;
}

.la_monkey_carousel_promonkey .item .carousel-caption .content h2.item_name,
.card .item .carousel-caption .content h2.item_name
{
	margin: 0px;
	padding: 0px 0px 5px;
	color: salmon;
	font-size: 1.25em;
	letter-spacing: -0.25px;
	line-height: 1.15;
	font-weight: 500;
}

.card.add-ons
{
	height: 320px;
	margin-bottom: 10px;
}

.card.add-ons hr
{
	margin: 10px 0  10px;
}

.card.add-ons .footer
{
	background: #fff;
	color: #333;
	position: absolute;
	vertical-align: bottom;
	display: block;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	border: none;
	padding: 10px;
}

.card.cause .slideshow-overlay,
.card.add-ons .slideshow-overlay
{
	background: transparent;
}

.card.cause:hover,
.card.add-ons:hover,
.card.cause:hover .slideshow-bg,
.card.add-ons:hover .slideshow-bg
{
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.2);
	-moz-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.2);
	box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.2);
}

.card.cause h4,
.card.add-ons h4
{
	font-size: 1.25em;
	font-family: "sfns display", "avenir next", "avenir", helvetica, arial, sans-serif;
	margin-top: 15px;
	color: #555;
}

.card.add-ons h4
{
	height: 16px;
	width: 100%;
}

.card.cause p,
.card.add-ons p
{
	font-size: 14px;
	color: #888;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.1;
}

.card.add-ons p,
.card.cause p
{
	max-height: 45px;
}

.card.cause .slideshow,
.card.add-ons .slideshow
{
	height: 180px;
	position: relative;
}

.card.review
{
	margin-bottom: 1px;
}

.card.cause .content,
.card.review .content,
.card.book .content,
.card.add-ons .content
{
	height: auto;
	position: relative;
}

.card.cause .content,
.card.add-ons .content
{
	padding: 2px 15px 15px;
}

.card.add-ons .content
{
	height: 105px;
}

.card.add-ons .add-ons-cap
{
	float: left;
	font-size: 0.9em;
	color: #999;
	text-transform: uppercase;
	font-weight: 500;
}

.card.add-ons .add-ons-cost
{
	float: right;
}

.card.review .content
{
	padding: 15px 15px 15px 20px;
	overflow: none;
}

.card.review .content:hover p
{
	color: #333;
}

.card.review p
{
	color: #666;
	text-indent: -9px;
	margin-bottom: 5px;
}

.card.review p::before
{
	content: '\201C';
	margin-right: 2px;
	color: #999;
}

.card.review p::after
{
	content: '\201D';
	margin-left: 2px;
	color: #999;
}

.card.review span
{
	display: block;
	text-align: right;
	color: #888;
}

.card.review span.time
{
	font-size: 0.75em;
}

.card .header
{
	padding: 2px 15px 2px 15px;
	position: relative;
}

.card .header h4
{
	font-size: 1em;
	margin: 15px 0 2px;
}

.monkey-card .slideshow,
.card .slideshow
{
	height: 45%;
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 12;
}

.monkey-card .slideshow-overlay,
.card .slideshow-overlay
{
	background: rgba(0, 0, 0, 0.25);

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.monkey-card .slideshow-bg,
.card .slideshow-bg
{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-size: cover !important;
	background-position: center !important;
	overflow: hidden;
	z-index: 1;
	-moz-transition: all .25s;
	-webkit-transition: all .25s;
	transition: all .25s;
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
}

.monkey-card:hover .slideshow-bg,
.carousel-inner.card:hover .item .slideshow-bg,
.card:hover .slideshow-bg
{
	-moz-transform: scale(1.05,1.05);
	-webkit-transform: scale(1.05,1.05);
	transform: scale(1.05,1.05); 	
}

.monkey-card:hover .slideshow-overlay,
.card:hover .slideshow-overlay
{
	background: rgba(0, 0, 0, 0);
}

.monkey-card .slideshow .promo_price,
.card .slideshow span.price
{
	font-size: 26px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	bottom: 15px;
	right: 15px;
	text-align: right;
	z-index: 3;
	-moz-transition: all .25s;
	-webkit-transition: all .25s;
	transition: all .25s;

	-webkit-transform-style: preserve-3d;
}

/*.card:hover span.price
{
	-moz-transform: scale(0.8,0.8);
	-webkit-transform: scale(0.8,0.8);
	transform: scale(0.8,0.8); 	

	bottom: 5px;
	right: 0px;
}*/

.card .slideshow span.price::before
{

}

.card .slideshow span.price::after
{
	content: 'per guest';
	font-size: 0.7em;
	display: block;
	font-weight: normal;
	color: #fff;
}

.card-basic .content,
.card .content
{
	padding: 15px;
	background: #fff;
	height: 100%;
	line-height: 1.2;
	z-index: 2;
}

.card .content h2.item_name
{
	font-size: 1.25em;
	padding: 0px 0 5px 0;
	margin: 0px;
}

.card .content span.item_operator
{

}

.card .footer span.item_operator::before
{
	content: 'by ';
}

.card .content span.item_ratings
{

}

.card .content span.item_ratings.no_ratings
{
	color: #777;
}

.card .content p.item_desc
{
	font-size: 0.9em;
	padding-top: 5px;
	color: #888;
}

.card:hover p.item_desc
{
	color: #333;
}

.card .content i.fa-star,
.card .content i.fa-star-half
{
	color: orange;

	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition:         all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

	-moz-transform: scale(0.5,0.5);
	-webkit-transform: scale(0.5,0.5);
	transform: scale(0.5,0.5);
}

.card:hover i.fa-star,
.card:hover i.fa-star-half
{
	-moz-transform: scale(1.02,1.02);
	-webkit-transform: scale(1.02,1.02);
	transform: scale(1.02,1.02);
}

.card.result
{
	height: 430px;
}

.card.result .slideshow
{
	height: 260px;
}

.card.result .content
{
	padding: 10px 10px 0px;
	height: 90px;
}

.card.result span.item_geo::after
{
	content: ',';
}

.monkey-card:hover .slideshow .promo_price,
.carousel-inner.card:hover .item .slideshow span.price,
.card.result:hover .slideshow span.price
{
	opacity: 0;
}

.card .item:hover h2.item_name,
.card.result:hover h2.item_name
{
	color: salmon;
}

.card.result h2.item_name
{
	margin: 0px;
	padding: 0px;
	color: salmon;
	font-size: 1.25em;
	letter-spacing: -0.25px;
	line-height: 1.15;
}

.la_monkey_carousel_promonkey .item .carousel-caption
{
	padding: 0px;
}

.la_monkey_carousel_promonkey .item .carousel-caption .content
{
	padding: 15px;
	height: 131px;
}

.la_monkey_carousel_promonkey .item .carousel-caption h2.item_name::after,
.card .item .carousel-caption h2.item_name::after,
.card.result h2.item_name::after
{
	font-family: FontAwesome;
	margin-left: 5px;
	content: '\f061';
	font-size: 10px;
	position: relative;
	top: -2px;
	opacity: 0;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
	color: #999;
}

.la_promo-carousel .carousel-inner.card .slideshow
{
	height: 310px;
}

.monkey-card .slideshow
{
	height: 260px;
	overflow: hidden;
}

.la_monkey_carousel_promonkey.carousel-inner:hover h2.item_name::after,
.card.carousel-inner:hover h2.item_name::after,
.card.result:hover h2.item_name::after
{
	opacity: 1;
	margin-left: 7px;
}

.la_monkey_carousel_promonkey .item .carousel-caption .footer,
.card .item .carousel-caption .footer,
.card.result .footer
{
	background: #fafafa;
	color: #333;
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: block;
	width: 100%;
	font-size: 12px;
	font-weight: normal;
	border: none;
	padding: 5px 10px;
	font-family: 'san francisco display';
	text-transform: uppercase;
	z-index: 900;
	/*border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;*/

	-moz-transition: all .1s;
	-webkit-transition: all .1s;
	transition: all .1s;
}

.card .item .carousel-caption .footer
{
	/*position: absolute;
	bottom: 0px;
	left: 0px;*/
}

.la_monkey_carousel_promonkey .item .carousel-caption .footer span,
.card .item .carousel-caption .footer span,
.card.result .footer span
{
	display: inline-block;
}

.la_monkey_carousel_promonkey .item .carousel-caption .footer span.item_operator,
.card .item .carousel-caption .footer span.item_operator
.card.result .footer span.item_operator
{
}

.la_monkey_carousel_promonkey .item .carousel-caption .footer span.item_duration,
.card .item .carousel-caption .footer span.item_duration,
.card.result span.item_duration
{
	color: #666;
}

.la_monkey_carousel_promonkey .item .carousel-caption .footer span.item_duration,
.card .item .carousel-caption .footer span.item_duration
{
	margin-right: 10px;
}

.la_monkey_carousel_promonkey .item .carousel-caption .footer span.item_duration::before,
.card .item .carousel-caption .footer span.item_duration::before,
.card.result span.item_duration::before
{
	font-family: FontAwesome;
	content: '\f017';
	margin-right: 8px;
}

.la_monkey_carousel_promonkey .item .carousel-caption .footer span.item_theme,
.card .item .carousel-caption .footer span.item_theme,
.card.result span.item_theme
{
	color: #666;
}

.la_monkey_carousel_promonkey .item .carousel-caption .footer span.item_theme::before,
.card .item .carousel-caption .footer span.item_theme::before,
.card.result span.item_theme::before
{
	font-family: FontAwesome;
	content: '\f02c';
	margin-right: 5px;
}


/* booking summary card */

.card.booking-summary
{
	height: auto;
	background: #fff;
	padding: 15px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
	-moz-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
	box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
	transition: none;
}

.card .polar-bear
{
	background: #fafafa;
	padding: 10px;
	margin: 40px 0 20px;
}

.card.booking-add-ons,
.card.booking-payment
{
	height: auto;
	background: transparent;
	padding: 15px 30px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
	-moz-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
	box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
	box-shadow: none;
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
}

.card.booking-payment
{
	background: transparent;
	box-shadow: none;
}

.card.booking-summary h2.item_name
{
	font-size: 1.25em;
	padding: 30px 15px;
	margin: 0;
	background: transparent;
	color: salmon;
	text-transform: capitalize;
}

.card.booking-summary p.item_geo::before,
.card.booking-summary p.item_geo_2::before,
.card.booking-summary p.item_duration::before,
.card.booking-summary p.item_operator::before,
.card.booking-summary p.item_fitness::before,
.card.booking-summary p.item_climate::before,
.card.booking-summary p.item_starts::before,
.card.booking-summary p.item_ends::before
{
	display: block;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #999;
	margin-top: 5px;
}

.card.booking-summary p.item_geo::before
{
	content: 'Destination';
}

.card.booking-summary p.item_geo::after
{
	content: ',';
}

.card.booking-summary p.item_duration::before
{
	content: 'Tour duration';
}

.card.booking-summary p.item_operator::before
{
	content: 'Tour operator';
}

.card.booking-summary p.item_fitness::before
{
	content: 'Physical demand';
}

.card.booking-summary p.item_climate::before
{
	content: 'Local climate';
}

.card.booking-summary p.item_starts::before
{
	content: 'Tour starts';
}

.card.booking-summary p.item_ends::before
{
	content: 'Ends';
}

.card.booking-summary p
{
	color: #555;
	line-height: 1;
	margin-bottom: 0;
	padding: 5px 0;
	font-size: 14px;
}

.card.booking-summary p.item_geo,
.card.booking-summary p.item_geo_2
{
	display: inline;
}

.card.booking-summary h3
{
	font-size: 15px;
	font-size: 1;
	text-transform: uppercase;
	color: #999;
}

.card.booking-summary span
{
	color: #555;
	font-size: 14px;
}

.card.booking-summary ul.summary-list li span.item.additional::before
{
	content: '+ ';
	color: salmon;
}

.card.booking-summary ul.summary-list li.subtotal,
.card.booking-summary ul.summary-list li.grandtotal
{
	border-top: 1px solid #999;
	margin-top: 5px;
	padding-top: 5px;
}

.card.booking-summary ul.summary-list li.grandtotal span
{
	font-size: 24px;
	color: #333;
}

.card.booking-summary ul.summary-list li span.item.total::before
{
	content: 'Subtotal';
}

.card.booking-summary ul.summary-list li span.item.grandtotal
{
	font-size: 12px;
	text-transform: uppercase;
	color: #999;
}

.card.booking-summary ul.summary-list li span.item.grandtotal::before
{
	content: 'Total ';
	font-size: 24px;
	color: #333;
	text-transform: capitalize;
}

.card.booking-summary ul.summary-list li span.value-price
{
	float: right;
}

.card.booking-summary ul.summary-list li span.value-price::after
{
	content: ' THB';
	color: #999;
}

.card.booking-summary ul.summary-list li span.item.discount::before
{
	content: '- ';
	color: salmon;
}

.card.booking-summary ul.summary-list li.discount span
{
	color: salmon;
}

.card.booking-summary ul.read-list
{
	font-size: 14px;
	color: #555;
}

/* letter signs */

span.letter-signs
{
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-weight: bolder;
	font-size: 1em;
	border-radius: 50%;
	background: salmon;
	color: #fff;
	text-align: center;
	display: block;
	position: absolute;
	display: none;
}

span.letter-signs.education
{
	background: lightgreen;
	color: white;
}

span.letter-signs.education::before
{
	content: 'E';
}

span.letter-signs.culture
{
	background: yellow;
	color: black;
}

span.letter-signs.culture::before
{
	content: 'C';
}

.card.cause span.letter-signs,
.card.add-ons span.letter-signs
{
	bottom: 5px;
	right: 5px;
	z-index: 99;
}


@media all and (max-width: 1024px) {
 	.card .footer
 	{
 		bottom: 0px;
 	} 
}

@media (max-width: 991px) {
	.card.review .content
	{
		padding: 15px 20px;
		padding-left: 25px;
	} 

	.card:active,
	.card:focus
	{	
		/*-webkit-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
		-moz-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
		box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
		box-shadow: none;*/
		
		-moz-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}

	.la_promo-carousel .carousel-inner.card .slideshow
	{
		height: 210px;
	}

	.card.booking-summary,
	.card.booking-payment,
	.card.booking-add-ons
	{
		padding: 0;
	}

	.card.review p
	{
		color: #666;
		margin-bottom: 5px;
		text-align: left;
	}

	.card.review span
	{
		display: block;
		text-align: left;
		color: #888;
	}
}