body
{
	background-color: #38bcb8;
}

.container
{
	max-width: 1000px;
}

#global-header-wrap
{
	/*background: salmon;*/
	background: #fabe4a;
	z-index: 1000;
}

.navbar-default .navbar-collapse
{
	/*background: salmon;*/
	background: #fabe4a;
	height: 50px !important;
}

.navbar-default .navbar-nav>li>a
{
	color: #fff;
	font-weight: 500;
}

.navbar-default .navbar-nav>li>a:hover
{
	color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a
{
	background-color: lightsalmon !important;
	color: #fff !important;
}

.nav-dash
{
	margin: 0;
	background: #fafafa;
	min-height: none;
	border: none;
}

.nav-dash .navbar-nav>li>a
{
	color: #666;
	font-size: 14px;
}

.nav-active
{
	background: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-family: avenir, 'avenir next', helvetica, arial, sans-serif; 
}

.dash-menu-bar,
.dash-profile-bar,
.dash-content
{
	background-color: #fff;
	/*border-bottom: 1px solid #dadada; */
	border-bottom: 1px solid #999;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
}

.dash-profile-bar
{
	height: 300px;
	border-radius: 3px;
	background: #f07a63;
	/*background-image:url('../img/pattern-book-box.png');*/
}

.dash-profile-bar h1
{
	font-size: 35px;
	font-weight: bold;
	position: relative;
	color: #fff;
	line-height: 1.3;
}

.dash-profile-bar img.avatar
{
	position: relative;
	top: 0px;
	z-index: 10;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;
}
/*
.dash-profile-bar:hover img.avatar
{
	top: 200px;
}
*/
.dash-profile-bar img.fisherman
{
	position: absolute;
	bottom: 20px;
	right: -200px;
	z-index: 5;
	-moz-transition: all 5s;
	-webkit-transition: all 5s;
	transition: all 5s;
}

.dash-profile-bar:hover img.fisherman
{
	right: 400px;
}

.dash-profile-bar .dash-profile-bg-container
{
	height: 200px;
	width: 100%;
	overflow: hidden;
	position: absolute;
}

.dash-profile-bar .dash-profile-bg-container img
{
	height: 500px;
	position: relative;
	margin-left: -250px;
	left: 50%;
	margin-top: -250px;
	top: 50%;
}

.dash-profile-bar .user-avatar-container
{
	position: relative;
	top: 0px;
	left: 0px;
	height: 120px;
	width: 120px;
	margin: 0;
	display: none;
}
.dash-profile-bar .user-avatar-container img
{
	width: 200px;
	height: 200px;
	margin-left: -100px;
	left: 50%;
	margin-top: -100px;
	top: 50%;
	position: absolute;
}

.dash-profile-bar .content
{
	padding: 20px;
	position: relative;
}

.dash-profile-bar .content h3
{
	font-size: 1.2em;
	text-align: center;
	color: salmon;
}

.dash-profile-bar .btn-invite
{
	margin: 10px auto 20px;
}

.dash-profile-bar .edit-profile
{
	position: absolute;
	top: 10px;
	right: 10px;
	background: transparent;
	border: 1px solid #dadada;
	color: #666;
	margin: 10px auto;
}

.dash-profile-bar .credit-container
{
	outline: 1px solid #eee;
	outline-offset: 2px;
	background: #fafafa;
	padding: 20px;
	margin-top: 20px;
}

.dash-profile-bar .user-credit-balance
{
	margin: 0 auto;
	font-weight: 500;
	font-size: 2em;
}

.dash-content
{
	padding: 40px 20px;
	border-radius: 3px;
	min-height: 300px;
	/*color: #fff;*/
	background: transparent;
}

.dash-content#listings,
.dash-content#trips,
.dash-content#settings
{
	height: 420px;
	position: relative;
}

.dash-content .dash-icon
{
	width: 180px;
	height: 180px;
	margin: 0 auto;
	position: relative;
}

.dash-content#listings > .dash-icon
{
	background: url('../img/graphic_listing_badge.png');
	background-size: cover;
}

.dash-content#listings:hover > .dash-icon
{
	background: url('../img/graphic_listing_badge-hover.png');
	background-size: cover;
}

.dash-content#trips > .dash-icon
{
	background: url('../img/graphic_travel_badge.png');
	background-size: cover;
}

.dash-content#trips:hover > .dash-icon
{
	background: url('../img/graphic_travel_badge-hover.png');
	background-size: cover;
}

.dash-content#settings > .dash-icon
{
	background: url('../img/graphic_settings_badge.png');
	background-size: cover;
}

.dash-content#settings:hover > .dash-icon
{
	background: url('../img/graphic_settings_badge-hover.png');
	background-size: cover;
}

.dash-content#listings
{
	background: #1b86c8;
}

.dash-content#trips
{
	background: #f1bd19;
}

.dash-content#settings
{
	background: #dc6e7a;
}

.dash-content h2
{
	font-size: 30px;
	font-weight: bold;
	margin-top: 10px;
	color: #fff;
}

.dash-content h1 .fa,
.dash-content h2 .fa
{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	color: #fff;
	font-size: 22px;
	display: inline-block;
	line-height: 34px;
	text-align: center;
	position: relative;
	background: salmon;
	top: -3px;
	margin-right: 5px;
	display: none;
}

.dash-content#promo
{
	height: 300px;
	padding: 20px 30px;
	background: #fff;
/*	background: url('../img/graphic_carrot.png') no-repeat 50% 50%;
*/	background-size: cover;
}

.dash-content#promo h1
{
	font-weight: bold;
	color: #111;
}

.dash-content#promo p,
.dash-content#promo label
{
	color: #333;
	font-weight: 500;
}

.dash-content#promo label
{
	margin-top: 15px;
}

.dash-content#promo .img-circle
{
	width: 500px;
	height: 500px;
	overflow: hidden;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: -120px;
}

.dash-content#promo .img-circle img
{
	width: 220px;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -220px;
	position: relative;
}

.dash-content h1
{
	font-size: 1.5em;
	text-transform: capitalize;
	letter-spacing: 0.25px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #333;
}

.dash-content p
{
	color: #fff;
}

.dash-content p.overview-text
{
	color: #999;
	font-weight: 700;
	margin-bottom: 30px;
}

.dash-content ul
{
	font-weight: 500;
}

.dash-content#promo a,
.dash-content#listings a,
.dash-content#trips a,
.dash-content#settings a
{
	color: #fff;
	line-height: 2;
}

.dash-content#promo a:hover,
.dash-content#listings a:hover,
.dash-content#trips a:hover,
.dash-content#settings a:hover
{
	color: #fafafa;
}

.dash-content .btn-create-new-listing
{
	border: 2px solid lightsalmon;
	color: salmon;
	margin: 15px 0;
}

.dash-content .btn-create-new-listing:hover
{
	border: 2px solid salmon;
	background: salmon;
	color: #fff;
}

.dash-content .btn-create-new-listing:active,
.dash-content .btn-create-new-listing:focus
{
	box-shadow: none;
}

.user-listing
{
	background: #fff;
	padding: 10px 10px 0px 10px;
	border: 1px solid #dadada;
	margin: 30px 0;
	border-radius: 3px;
	overflow: hidden;
}

.user-listing span.listing-title
{
	text-transform: uppercase;
	display: block;
	font-weight: bold;
	font-size: 10px;
	color: orange;
	letter-spacing: 1px;
	margin: 5px 0;
	text-align: left;
}

.user-listing .listing-img-container
{
	background: #eee;
	overflow: hidden;
	height: 95px;
}

.user-listing img
{
	width: 120%;
	height: auto;
}

.user-listing h2
{
	margin: 0;
	color: #444;
	font-weight: 500;
	max-width: 400px;
	font-size: 20px;
	text-align: left;
	font-family: avenir, 'avenir next', helvetica, arial, sans-serif; 
}

.user-listing span.price,
.user-listing span.status,
.user-listing span.duration
{
	display: block;
	font-size: 20px;
	color: #555;
	text-align: left;
}

.user-listing span.price::after
{
	content: 'per traveler';
	display: block;
	color: #999;
	font-size: 14px;
}

.user-listing .btn-listing-action
{
	display: inline-block;
	border: 1px solid #fafafa;
	margin: 0 auto;
	color: #666;
}

.user-listing .btn-listing-action i.fa
{
	margin-right: 5px;
}

.user-listing .btn-listing-action:hover
{
	border: 1px solid lightsalmon;
	background: #fff;
	color: #555;
}

.user-listing .btn-listing-action:active,
.user-listing .btn-listing-action:focus
{
	box-shadow: none;
	background: lightsalmon;
	color: #fff;
	border: 1px solid lightsalmon;
}

.user-listing .row-action
{
	background: #fafafa;
	margin-top: 20px;
	padding: 10px 0;
}

.dashboard-hero
{
	padding: 40px 10px;
	width: 920px;
	margin: 10px 10px 10px;
	border-radius: 3px;
	overflow: hidden;
	height: 240px;
}

.dashboard-hero#listings
{
	background: #F7CA18;
}

.dashboard-hero#trip
{
	background: #89C4F4;
}

.dashboard-hero p
{
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.25px;
}

.dashboard-hero p.lead
{
	font-weight: bolder;
	font-size: 26px;
	margin-bottom: 8px;
}

.dashboard-hero .btn-ghost-lg
{
	margin-top: 5px;
}

.dashboard-hero#listings img
{
	position: relative;
	top: -30px;
	left: 20px;
	-ms-transform: rotate(-17deg); /* IE 9 */
	-webkit-transform: rotate(-17deg); /* Chrome, Safari, Opera */
	transform: rotate(-17deg);
}

.dashboard-hero#trip img
{
	position: relative;
	top: -32px;	
	left: 30px;
}
.listing-steps
{
	list-style: decimal inside;
	padding: 0px 0px 0px 10px;
	background: transparent;
}

.listing-steps > li
{
	background: transparent;
	color: #fff;
	/*border-bottom: 3px solid transparent;*/
	padding: 10px;
	cursor: pointer;
	width: 100%;
	font-weight: 500;
	position: relative;
	z-index: 60000;
}

.listing-steps > li:hover
{
	background: #555;
}

.listing-steps > li > a,
.listing-steps > li.active > a
{
	color: #fff;
	width: 100%;
	height: 100%;
	display: block;
}

.listing-steps > li > a
{
	color: #999;
	color: #fff;
}

.listing-steps > li > a:hover
{
	color: #fff;
}

.listing-steps > li.active > a:hover
{
	color: #fff;
}

.listing-steps > li.active
{
	background: #555;
	color: #fff;
	position: relative;
}

.listing-steps > li.active:after
{
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(250, 128, 114, 0);
	border-left-color: #FA8072;
	border-left-color: #555;
	border-width: 6px;
	margin-top: -6px;
}

#listing-steps-nav.affix {
    position: fixed;
    top: 120px;
    width: 230px;
}

