body
{
	background: #eee;
}

.la_details-hero-wrapper,
.mini-details-wrapper
{
	margin-top: 50px;
}

.la_details-hero-wrapper
{
	height: 350px;
	border-radius: 3px;
	background: url('../img/la_blog-2.jpg') no-repeat center center;
	background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 80%),
	   url('../img/la_blog-3.jpg') no-repeat center;
	   background: -webkit-linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 80%),
	   url('../img/la_blog-3.jpg') no-repeat center;
	   background: -moz-linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 80%),
	   url('../img/la_blog-3.jpg') no-repeat center;
	   background: -o-linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 80%),
	   url('../img/la_blog-3.jpg') no-repeat center;
	background-size: cover;
	color: #fff;
	text-align: left;
	position: relative;
	overflow: hidden;
	display: table;
}

.la_details-hero-wrapper .hero-content
{
	display: table-cell;
	vertical-align: bottom;
	padding: 20px 20px 20px 20px;
}

.la_details-hero-wrapper .hero-content-footer
{
	margin-top: 10px;
	padding: 20px 0 0px;
	height: 38px;
}

.la_details-hero-wrapper .hero-content-footer p
{
	border-right: 1px solid #555;
	font-size: 14px;
	padding: 0 10px;
	margin: 0px;
	float: left;
}

.la_details-hero-wrapper .hero-content-footer p:first-of-type
{
	padding-left: 0px;
}

.la_details-hero-wrapper .hero-content-footer p:last-of-type
{
}

.la_details-hero-wrapper h1,
.la_details-hero-wrapper h2
{
	padding: 0px;
}

.la_details-hero-wrapper h1
{
	font-family: 'avenir', helvetica, sans-serif;
	width: 80%;
	font-size: 2em;
	padding-bottom: 0px;
	padding-top: 15px;
	margin-top: 0px;
	font-weight: bold;
}

.la_details-hero-wrapper h2
{
	font-size: 1.15em;
	font-weight: normal;
	color: #999;
	padding-top: 10px;
	margin-top: 0px;
}

.mini-details-wrapper .card.cause
{
	height: 350px;
	margin: 0;
	padding: 0 20px 20px;
	background: #fff;
}

.mini-details-wrapper .card.cause .slideshow
{
	height: 200px;
	position: relative;
	border-radius: 3px;
}

.mini-details-wrapper .card.cause .slideshow-overlay
{
	background: rgba(0, 0, 0, 0);
}

.mini-details-wrapper .card.cause .content
{
	position: relative;
	background: transparent;
	display: table;
	height: 130px;
	box-sizing: border-box;
	padding: 0;
}

.mini-details-wrapper .card.cause .content > div
{
	display: table-cell;
	vertical-align: middle;
}

.mini-details-wrapper .card.cause .content span
{
	color: salmon;
	font-size: 12px;
	font-weight: 700;
}

.mini-details-wrapper .card.cause .content h4
{
	margin: 10px 0;
}

.mini-details-wrapper .card.cause .content p
{
	font-weight: 500;
}

.mini-details span.label
{
	color: #999;
	text-transform: uppercase;
	font-size: 11px;
	display: block;
	font-weight: normal;
}

.listing-map
{
	border-radius: 3px;
	height: 260px;
	overflow: hidden;
	position: relative;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #dadada;
}

.listing-map iframe
{
	width: 100%;
	height: 260px;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #dadada;
}

.listing-map a.cta-listing-map
{
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 260px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(14, 13, 119, 0.7);
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	border: none;
	border-bottom: 1px solid #dadada;
}

.listing-map a.btn-listing-map
{
	background: transparent;
	height: 40px;
	width: 200px;
	padding: 0px;
	margin: 0px;
	line-height: 40px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	border: none;
	color: #333;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top: -10px;
	-moz-transition: all .1s;
	-webkit-transition: all .1s;
	transition: all .1s;
}

.listing-map a.cta-listing-map:hover
{
	background-color: rgba(14, 13, 119, 0.8);
	color: #fff;
}

.chiclet
{
	background: transparent;
	padding: 0 10px;
	margin-top: 10px;
	height: 80px;
	position: relative;
	overflow: hidden;
	outline: none;
}

.chiclet .chiclet-left
{
	border-right: 1px solid #eee;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.chiclet .chiclet-center
{
	border-right: 1px solid #eee;
	border-radius: 0px;
}

.chiclet .chiclet-right
{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.chiclet-social
{
	height: 80px;
	margin-top: 10px;
	padding: 0 10px 0 0;
	display: table;
	overflow: hidden;
}

.chiclet-social .social-buttons
{
	display: table-cell;
	vertical-align: middle;/*
	background: #fafafa;
	border-bottom: 1px solid #dadada;*/
	border-radius: 3px;
	font-size: 14px;
	font-weight: 500;
}

.chiclet-social .social-buttons .at-share-btn
{
	margin: 0 4px;
	border-radius: 3px;
}

.chiclet > div
{
	height: 100%;
	padding: 10px 20px;
	border-bottom: 1px solid #dadada;
	background: #fff;
	display: table;
	outline: none;
	-moz-transition: all .1s;
	-webkit-transition: all .1s;
	transition: all .1s;
}

.chiclet > div:focus
{
	outline: none;
}

.chiclet > div:hover
{
	background: #444;
}

.chiclet > div:hover p.chiclet-label,
.chiclet > div:hover p.item_operator,
.chiclet > div:hover p.item_fitness
{
	color: #fff;
}

.chiclet p.chiclet-label,
.chiclet-social p.chiclet-label
{
	color: #333;
	font-weight: 500;
	font-size: 11px;
	margin: 0px;
	text-transform: uppercase;
}

.chiclet .gorilla-link
{
	display: table-cell;
	vertical-align: middle;
}

.hero-content p.item_duration,
.hero-content p.item_theme,
.hero-content p.item_language
{
	display: inline;
}

.chiclet .gorilla-link p.item_operator,
.chiclet .gorilla-link p.item_fitness
{
	margin: 0px;
	color: #444;
	font-weight: 700;
	font-size: 13px;
	line-height: 1.2;
}

.listing-map a.cta-listing-map span.glyphicon,
.chiclet .gorilla-link p span.glyphicon
{
	font-size: 10px;
	margin-left: 8px;
}

.listing-map a.btn-ghost-lg
{
	position: absolute;
	top: 10px;
	left: 0px;
}

.la_details-hero-wrapper .package-details .block-left
{
	padding: 10px 20px 40px;
}

.la_details-hero-wrapper p.item_geo,
.la_details-hero-wrapper p.item_geo_2
{
	font-size: 1.25em;
	padding-top: 0px;
	margin-bottom: 5px;
	display: inline;
	color: #fafafa;
}

.la_details-hero-wrapper .package-details p.item_geo_2
{
	margin-right: 10px;
}

.la_details-hero-wrapper .package-details p.item_geo::after
{
	content: ', ';
}

/*.la_details-hero-wrapper .package-details a.item_geo_map
{
	position: relative;
	top: -2px;
	background-color: #555;
	border: 0;
	line-height: 20px;
	padding: 1px 8px;
	border-radius: 3px;
	font-size: 0.7em;
}*/

.la_details-hero-wrapper .package-details a.item_geo_map span
{
	margin-left: 3px;
}

.mini-details-wrapper
{
	text-align: left;
	font-size: 15px;
	padding-right: 10px;
}

.mini-details
{
	height: 100%;
	border-radius: 3px;
}

.la_details-hero-wrapper .package-details p.item_duration,
.la_details-hero-wrapper .package-details p.item_operator,
.la_details-hero-wrapper .package-details p.item_theme,
.la_details-hero-wrapper .package-details p.item_language,
.la_details-hero-wrapper .package-details p.item_fitness,
.la_details-hero-wrapper .package-details p.item_climate
{
	color: salmon;
	line-height: 1;
	margin-bottom: 0;
	padding: 0 5px;
	display: inline-block;
}

.la_details-hero-wrapper .package-details a.gorilla-link,
.la_details-hero-wrapper .package-details a.item_geo_map
{
	background: transparent;
	border-radius: 2px;
	padding: 1px 5px;
	border: 1px solid #888;
	font-size: 12px;
}

/*.la_details-hero-wrapper .package-details a.gorilla-link p
{
	border: none;
	color: #777;
}*/

/*.la_details-hero-wrapper .package-details p.item_duration::before,
.la_details-hero-wrapper .package-details p.item_operator::before,
.la_details-hero-wrapper .package-details p.item_fitness::before,
.la_details-hero-wrapper .package-details p.item_theme::before,
.la_details-hero-wrapper .package-details p.item_language::before,
.la_details-hero-wrapper .package-details p.item_climate::before
{
	display: block;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #999;
	margin-top: 5px;
	margin-bottom: 0px;
	line-height: 1;
}*/

/*.la_details-hero-wrapper .package-details p.item_duration::before
{
	content: 'Tour duration';
}

.la_details-hero-wrapper .package-details p.item_operator::before
{
	content: 'Tour operator';
}

.la_details-hero-wrapper .package-details p.item_theme::before
{
	content: 'Theme';
}

.la_details-hero-wrapper .package-details p.item_language::before
{
	content: 'Language';
}

.la_details-hero-wrapper .package-details p.item_fitness::before
{
	content: 'Physical demand';
}

.la_details-hero-wrapper .package-details p.item_climate::before
{
	content: 'Local climate';
}*/

.la_details-hero-wrapper .package-details span.glyphicon.glyphicon-new-window
{
	margin-left: 5px;
	font-size: 8px;
}

/* side bar */

.misc-bar,
.trip-content,
.book-now
{
	position: relative;
}

.misc-bar
{
	padding: 0px;
	background: #eee;
}

.misc-bar h3,
.trip-content h3,
.book-now h3
{
	padding-bottom: 15px;
	color: #999;
	font-size: 0.9em;
	text-transform: uppercase;

	font-size: 20px;
	color: salmon;
	text-transform: capitalize;
}

.btn-read-more-reviews,
.btn-itinerary-launcher
{
	background: #eee;
	border: 0;
	color: #999;
	width: auto;
	display: inline-block;
	margin: 0 auto;
	font-weight: normal;
}

.btn-read-more-reviews
{
	margin-top: 30px;
	background: #fff;
}

.btn-read-more-reviews:hover,
.btn-read-more-reviews:focus,
.btn-itinerary-launcher:hover,
.btn-itinerary-launcher:focus

{
	background: #d6d6d6;
	color: #777;
	border-bottom: none;
}

.btn-read-more-reviews span,
.btn-itinerary-launcher span
{
	margin-left: 3px;
	font-size: 0.75em;
}

.rewards-box
{

}

.trip-content
{
	padding: 0px 15px 20px;
	margin-top: 10px;
	background: #fff;
	border-bottom: 1px solid #dadada;
	/*box-shadow: 4px 0px 10px -10px rgba(0, 0, 0, 0.2);*/
	z-index: 99;
	border-radius: 3px;
}

.trip-content h4
{
	font-size: 18px;
	margin: 40px 0 25px;
	font-weight: 700;
	letter-spacing: 0.25px;
}

.trip-content p
{
	color: #777;
}

.trip-content p.lead
{
	font-size: 1.2em;
	font-weight: normal;
}

.trip-content h4 .fa,
.misc-bar .fa
{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	line-height: 24px;
	text-align: center;
	position: relative;
	background: salmon;
	top: -3px;
	margin-right: 5px;
}

.trip-content #la_photo-gallery,
.trip-content #la_package-details,
.trip-content #la_expectations,
.trip-content #la_itinerary,
.trip-content #la_add-ons,
.trip-content #la_tips-notes
{
	padding-bottom: 15px;
}

/*.trip-content #la_photo-gallery h4 .fa
{
	background: salmon;
}

.trip-content #la_package-details h4 .fa
{
	background: salmon;
}

.trip-content #la_expectations h4 .fa
{
	background: salmon;
}

.trip-content #la_itinerary h4 .fa
{
	background: salmon;
}

.trip-content #la_add-ons h4 .fa
{
	background: salmon;
}

.trip-content #la_tips-notes h4 .fa
{
	background: salmon;
}*/

.misc-bar h4 .fa
{
	background: salmon;
}

.trip-content ul li,
.trip-content .inclusions ul,
.trip-content .exclusions ul,
.trip-content .expectations ul
{
	margin-left: -10px;
	color: #777;
}

.trip-content .expectations .expectations-spider
{
	padding: 25px 15px 60px;
	padding: 10px;
	position: relative;
	height: 150px;
	height: auto;
	text-align: left !important;
	-moz-transition: all .1s;
	-webkit-transition: all .1s;
	transition: all .1s;
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
}

/*.trip-content .expectations .expectations-spider:hover
{
	-moz-transform: scale(1.25,1.25);
	-webkit-transform: scale(1.25,1.25);
	transform: scale(1.25,1.25);
}*/



/*.trip-content .expectations .expectations-spider.no::after
{
	font-family: FontAwesome;
	content: '\f00d';
	position: absolute;
	right: 0;
	left: 0;
	bottom: 35px;
	color: #eee;
}*/

.trip-content .expectations .expectations-spider .fa
{
	top: initial;
	display: block;
	font-size: 2em;
	margin: 0 auto 10px;
	height: auto;
	text-align: center;
}

.trip-content .expectations .expectations-spider.yes .fa
{
	color: #555;
}

.trip-content .expectations .expectations-spider.no .fa
{
	color: #eee;
}

.trip-content .expectations .expectations-spider span
{
	font-size: 15px;
	letter-spacing: -0.05px;
	font-weight: 400;
	line-height: 1.2;
	display: block;
	text-align: center;
/*	font-family: "san francisco display";
*/}

.trip-content .expectations .expectations-spider.yes span
{
	color: #777;
}

/*.trip-content .expectations .expectations-spider.yes .fa::after
{
	font-family: FontAwesome;
	content: '\f00c';
	position: absolute;
	color: orange;
	font-size: 10px;
	bottom: 0px;
}*/

.trip-content .expectations .expectations-spider.no span
{
	color: #eee;
}

.trip-content .expectations ul
{
	margin-left: auto;
}

.trip-content .expectations ul li
{
	list-style: none;
	display: inline-block;
	border: 1px solid black;
	width: 25%;
	margin-left: auto;
}

.trip-content .expectations ul li.yes
{

}

.trip-content .expectations ul li.no
{
	color: #999;
}

.trip-content .expectations ul li span.local-says
{
	font-size: 0.9em;
	float: right;
	display: none;
}

.trip-content .expectations ul li span.local-says::before
{
	content: '"';
}

.trip-content .expectations ul li span.local-says::after
{
	content: '"';
}



.trip-content .additional-list ul li
{
	margin-bottom: 10px;
}

.trip-content .itinerary
{

}

.trip-content .itinerary .itin-chunk
{
	/*border-bottom: 1px dotted #fafafa;
	#fafafa;*/
/*	box-shadow: 0px 10px 8px -14px rgba(0, 0, 0, 0.2);
*/	margin-bottom: 10px;
	padding-bottom: 10px;
}

.trip-content .itinerary .itin-chunk:last-of-type
{
	border-bottom: none;
	box-shadow: none;
}

.trip-content .itinerary .itin-time h5
{
	text-transform: uppercase;
	color: #888;
	font-size: 0.8em;
}

.trip-content .itinerary .itin-details h5
{
	margin-bottom: 5px;
}

.trip-content .itinerary .itin-details p
{

}

.why-wrapper
{
	background: #fafafa;
	padding: 5px 15px;
	margin: 20px auto;
}

#imagelightbox
{
    z-index: 9999;
 
    -ms-touch-action: none;
    touch-action: none;
}

.penguin-bottom-nav
{
	position: fixed;
	bottom: 40px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	padding: 0px;
	width: 90%;
	border-radius: 5px;
	height: 50px;
	background: lightsalmon;
	display: none;
	z-index: 900;
}

.penguin-bottom-nav .col-xs-4
{
	padding: 0px;
}

.penguin-bottom-nav .col-xs-4:nth-child(2)
{
	border-left: 2px solid salmon;
	border-right: 2px solid salmon;
}

.btn-book-now-penguin,
.btn-review-penguin,
.btn-impact-penguin
{
	position: relative;
	width: 100%;
	height: 48px;
	bottom: 0px;
	left: 0px;
	border-radius: 0px;
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	padding: 0px;
	line-height: 48px;
	opacity: 1;
}

.btn-book-now-penguin
{
	/*background-color: salmon;
	color: #fff;*/
}

.btn-book-now-penguin:hover,
.btn-book-now-penguin:focus
{
	/*background-color: lightsalmon;
	color: #fff;*/
}

hr
{
/*	margin-left: -25px;
	margin-right: -25px;
	border-bottom: 14px solid #eee;
	display: none;*/
}

.readmore-link
{
	bottom: 30px;
	right: 0px;
	display: inline-block;
	position: relative;
	z-index: 999;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: salmon;
	text-align: center;
	color: #fff;
	font-weight: 700;
	line-height: 1;
	font-size: 12px;
	padding-top: 16px;
	margin: 0 auto;
	cursor: pointer;
}

@media (min-width: 1640px) {
	.la_details-hero-wrapper
	{
		height: 650px;
	}
}

@media (max-width: 1169px) { 
	h1.h1
	{
		font-size: 1.75em;
	}
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) { 

	.container {
		width: 100%;
		overflow: hidden;
		padding: 0px;
	}

	hr
	{
		margin-left: -15px;
		margin-right: -15px;
		border-top: 1px solid #dadada;
		border-bottom: 14px solid #eee;
	}

	body
	{
		background: #eee;
	}

	h1.h1
	{
		font-size: 1.25em;
		font-weight: 600;
	}

	.trip-content h4
	{
		margin: 20px 0;
	}

	.la_details-hero-wrapper
	{
		border-radius: 0px;
		height: auto;
		background: linear-gradient(to top, rgba(0,0,0,0.5) 100%, rgba(0,0,0,0.5) 0%),
	   url('../img/la_blog-2.jpg') no-repeat center;
	   background: -webkit-linear-gradient(to top, rgba(0,0,0,1) 100%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 80%),
	   url('../img/la_blog-2.jpg') no-repeat center;
	   background: -moz-linear-gradient(to top, rgba(0,0,0,1) 100%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 80%),
	   url('../img/la_blog-2.jpg') no-repeat center;
	   background: -o-linear-gradient(to top, rgba(0,0,0,1) 100%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 80%),
	   url('../img/la_blog-2.jpg') no-repeat center;
	   background-size: cover;
	}

	.la_details-hero-wrapper .hero-content
	{
		padding: 30px 10px 40px;
		vertical-align: top;
		text-align: left;
	}

	.la_details-hero-wrapper .hero-content-footer
	{
		height: auto;
	}

	.la_details-hero-wrapper .hero-content-footer p
	{
		border: none;
		padding: 0;
		float: initial;
		font-size: 15px;
		display: block;
		font-weight: 700;
	}

	.la_details-hero-wrapper, .mini-details-wrapper
	{
		margin-top: 0px;
	}

	.mini-details-wrapper .card.cause
	{
		height: auto;
		margin: 0;
		padding: 20px;
		background: #fff;
	}

	.mini-details-wrapper .card.cause .content
	{
		height: auto;
		width: 100%;
	}

	.mini-details-wrapper .card.cause .slideshow
	{
		width: 100px;
		height: 100px;
		float: right;
		margin: 10px;
		border-radius: 50%;
		display: none;
	}

	.listing-map
	{
		border-radius: 0px;
		height: 80px;
		margin: 10px auto;
	}

	.listing-map img
	{
		width: 100%;
	}

	.listing-map a.cta-listing-map
	{
		border-radius: 0px;
		line-height: 80px;
		background: #222;
		color: #fff;
	}

	.chiclet
	{
		margin-top: 0px;
		border-radius: 0px;
	}

	.yotpo.bottomLine
	{
		display: none !important;
	}

	.la_details-hero-wrapper p.item_geo
	{
		display: block;
	}

	.la_details-hero-wrapper p.item_geo, .la_details-hero-wrapper p.item_geo_2
	{
		font-size: 15px;
		line-height: 1.1;
		font-weight: 700;
		margin: 0px;
	}

	.la_details-hero-wrapper h1
	{
		width: 100%;
		font-size: 24px;
		font-weight: 700;
		line-height: 1.15;
	}

	.trip-content
	{
		box-shadow: none;
		padding: 20px 0px;
	}

	.trip-content .expectations ul li.no
	{
		text-decoration: line-through;
	}

	.trip-content .expectations .expectations-spider .fa
	{
		display: block;
	}

	.trip-content .expectations ul li span.local-says
	{
		display: none;
	}

	.trip-content .itinerary .itin-details p
	{
		/*display: none;*/
	}
}

@media (max-width: 768px) { 



	.misc-bar
	{
		padding-left: 0px;
		padding-right: 0px;
	}

	.penguin-bottom-nav
	{
		display: block;
	}

	.btn-book-now-penguin
	{
	
		opacity: 1;
	}

	.trip-content .expectations .expectations-spider
	{
		padding: 25px 15px 60px;
		padding: 10px;
		position: relative;
		height: 150px;
		height: auto;
		text-align: left !important;
		-moz-transition: all .1s;
		-webkit-transition: all .1s;
		transition: all .1s;
		-moz-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}

	.trip-content .expectations .expectations-spider .fa
	{
		display: block;
		width: 30px;
		font-size: 1.5em;
		margin: 0 0 10px;
	}

	.trip-content .expectations .expectations-spider span
	{
		display: inline-block;
	}

}
