body
{
	background: #eee;
}

.la_details-hero-wrapper
{
	width: 100%;
	height: 450px;
	background: url('../img/la_blog-3.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	position: relative;
	overflow: hidden;
}

.la_details-hero-wrapper h1,
.la_details-hero-wrapper h2
{
	padding: 0px;
}

.la_details-hero-wrapper h1
{
	width: 100%;
	font-size: 2em;
	padding-bottom: 0px;
	padding-top: 15px;
	margin-top: 0px;
}

.la_details-hero-wrapper h2
{
	font-size: 1.15em;
	font-weight: normal;
	color: #999;
	padding-top: 10px;
	margin-top: 0px;
}

.la_details-hero-wrapper .package-details
{
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	/*max-width: 1140px;*/
	padding: 0px;
	height: auto;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
}
.la_details-hero-wrapper .package-details .block-left
{
	padding: 10px 30px 20px;
}

.la_details-hero-wrapper .package-details p.item_geo,
.la_details-hero-wrapper .package-details p.item_geo_2
{
	font-size: 1.25em;
	padding-top: 0px;
	margin-bottom: 5px;
	display: inline;
	color: #999;
}

.la_details-hero-wrapper .package-details p.item_geo_2
{
	margin-right: 10px;
}

.la_details-hero-wrapper .package-details p.item_geo::after
{
	content: ', ';
}

.la_details-hero-wrapper .package-details a.item_geo_map
{
	position: relative;
	top: -2px;
	background-color: #555;
	border: 0;
	line-height: 20px;
	padding: 1px 8px;
	text-transform: uppercase;
	font-size: 0.7em;
}

.la_details-hero-wrapper .package-details a.item_geo_map span
{
	margin-left: 3px;
}


.la_details-hero-wrapper .package-details .mini-details
{
	min-height: 115px;
	height: 100%;
	padding: 22px 15px 15px;

	background: #eee;
	padding: 15px 5px 15px;
	border-bottom: 1px solid #eee;
	text-align: center;
	font-size: 0.9em;
	min-height: 0;
	padding: 8px 0;
}



.la_details-hero-wrapper .package-details p.item_duration,
.la_details-hero-wrapper .package-details p.item_operator,
.la_details-hero-wrapper .package-details p.item_theme,
.la_details-hero-wrapper .package-details p.item_language,
.la_details-hero-wrapper .package-details p.item_fitness,
.la_details-hero-wrapper .package-details p.item_climate
{
	color: #333;
	line-height: 1;
	margin-bottom: 0;
	padding: 5px 0;
	display: inline-block;
}

.la_details-hero-wrapper .package-details p.item_duration::before,
.la_details-hero-wrapper .package-details p.item_operator::before,
.la_details-hero-wrapper .package-details p.item_fitness::before,
.la_details-hero-wrapper .package-details p.item_theme::before,
.la_details-hero-wrapper .package-details p.item_language::before,
.la_details-hero-wrapper .package-details p.item_climate::before
{
	display: block;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #999;
	margin-top: 5px;
	margin-bottom: 0px;
	line-height: 1;
}

.la_details-hero-wrapper .package-details p.item_duration::before
{
	content: 'Tour duration';
}

.la_details-hero-wrapper .package-details p.item_operator::before
{
	content: 'Tour operator';
}

.la_details-hero-wrapper .package-details p.item_theme::before
{
	content: 'Theme';
}

.la_details-hero-wrapper .package-details p.item_language::before
{
	content: 'Language';
}

.la_details-hero-wrapper .package-details p.item_fitness::before
{
	content: 'Physical demand';
}

.la_details-hero-wrapper .package-details p.item_climate::before
{
	content: 'Local climate';
}

.la_details-hero-wrapper .package-details p span.glyphicon
{
	margin-left: 5px;
	font-size: 8px;
}

/* side bar */

.misc-bar,
.trip-content,
.book-now
{
}

.misc-bar
{
	padding: 0 20px;
	background: #eee;
}

.misc-bar h3,
.trip-content h3,
.book-now h3
{
	padding-bottom: 15px;
	color: #999;
	font-size: 0.9em;
	text-transform: uppercase;
}

.btn-read-more-reviews,
.btn-itinerary-launcher
{
	background: #eee;
	border: 0;
	color: #999;
	width: auto;
	display: inline-block;
	margin: 0 auto;
	font-weight: normal;
}

.btn-read-more-reviews
{
	background: #fff;
}

.btn-read-more-reviews:hover,
.btn-read-more-reviews:focus,
.btn-itinerary-launcher:hover,
.btn-itinerary-launcher:focus

{
	background: #d6d6d6;
	color: #777;
}

.btn-read-more-reviews span,
.btn-itinerary-launcher span
{
	margin-left: 3px;
	font-size: 0.75em;
}

.rewards-box
{

}

.trip-content
{
	padding: 40px 15px;
	background: #fff;
	box-shadow: 4px 0px 10px -10px rgba(0, 0, 0, 0.2);
	z-index: 99;
}

.trip-content h4
{
	font-size: 20px;
	color: salmon;
}

.trip-content p
{
	color: #777;
}

.trip-content p.lead
{
	font-size: 1.2em;
	font-weight: normal;
}

.trip-content .fa
{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	display: inline-block;
	line-height: 24px;
	text-align: center;
	position: relative;
	top: -3px;
}

.trip-content #la_photo-gallery h4 .fa
{
	background: salmon;
}

.trip-content #la_package-details h4 .fa
{
	background: salmon;
}

.trip-content #la_expectations h4 .fa
{
	background: salmon;
}

.trip-content #la_itinerary h4 .fa
{
	background: salmon;
}

.trip-content #la_add-ons h4 .fa
{
	background: salmon;
}

.trip-content #la_tips-notes h4 .fa
{
	background: salmon;
}

.trip-content ul li,
.trip-content .inclusions ul,
.trip-content .exclusions ul,
.trip-content .expectations ul
{
	margin-left: -10px;
}

.trip-content .expectations .expectations-spider
{
	padding: 25px 15px 60px;
	position: relative;
	height: 150px;
	-moz-transition: all .1s;
	-webkit-transition: all .1s;
	transition: all .1s;
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
}

.trip-content .expectations .expectations-spider:hover
{
	-moz-transform: scale(1.25,1.25);
	-webkit-transform: scale(1.25,1.25);
	transform: scale(1.25,1.25);
}

.trip-content .expectations .expectations-spider.yes::after
{
	font-family: FontAwesome;
	content: '\f00c';
	position: absolute;
	right: 0;
	left: 0;
	bottom: 35px;
	color: orange;
}

.trip-content .expectations .expectations-spider.no::after
{
	font-family: FontAwesome;
	content: '\f00d';
	position: absolute;
	right: 0;
	left: 0;
	bottom: 35px;
	color: #eee;
}

.trip-content .expectations .expectations-spider .fa
{
	top: initial;
	display: block;
	font-size: 2em;
	margin: 0 auto 10px;
	height: auto;
	width: auto;
}

.trip-content .expectations .expectations-spider.yes .fa
{
	color: #666;
}

.trip-content .expectations .expectations-spider.no .fa
{
	color: #eee;
}

.trip-content .expectations .expectations-spider span
{
	font-size: 11px;
	letter-spacing: -0.25px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.12;
	display: inline-block;
}

.trip-content .expectations .expectations-spider.yes span
{
	color: #999;
}

.trip-content .expectations .expectations-spider.no span
{
	color: #eee;
}

.trip-content .expectations ul
{
	margin-left: auto;
}

.trip-content .expectations ul li
{
	list-style: none;
	display: inline-block;
	border: 1px solid black;
	width: 25%;
	margin-left: auto;
}

.trip-content .expectations ul li.yes
{

}

.trip-content .expectations ul li.no
{
	color: #999;
}

.trip-content .expectations ul li span.local-says
{
	font-size: 0.9em;
	float: right;
	display: none;
}

.trip-content .expectations ul li span.local-says::before
{
	content: '"';
}

.trip-content .expectations ul li span.local-says::after
{
	content: '"';
}



.trip-content .additional-list ul li
{
	margin-bottom: 10px;
}

.trip-content .itinerary
{

}

.trip-content .itinerary .itin-chunk
{
	/*border-bottom: 1px dotted #fafafa;
	#fafafa;*/
	box-shadow: 0px 10px 8px -14px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.trip-content .itinerary .itin-chunk:last-of-type
{
	border-bottom: none;
	box-shadow: none;
}

.trip-content .itinerary .itin-time h5
{
	text-transform: uppercase;
	color: #888;
	font-size: 0.8em;
}

.trip-content .itinerary .itin-details h5
{
	margin-bottom: 5px;
}

.trip-content .itinerary .itin-details p
{

}

.why-wrapper
{
	background: #fafafa;
	padding: 5px 15px;
	margin: 20px auto;
}

#imagelightbox
{
    z-index: 9999;
 
    -ms-touch-action: none;
    touch-action: none;
}

.btn-book-now-penguin
{
	
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 25px;
	right: 25px;
	font-size: 24px;
	padding: 0px;
	border-radius: 50%;
	line-height: 50px;
	font-weight: normal;
	color: #fff;
	opacity: 0;
}

@media (min-width: 1640px) {
	.la_details-hero-wrapper
	{
		height: 650px;
	}
}

@media (max-width: 1169px) { 
	h1.h1
	{
		font-size: 1.75em;
	}
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) { 

	.container {
		width: 100%;
	}

	body
	{
		background: #fff;
	}

	h1.h1
	{
		font-size: 1.5em;
	}

	.la_details-hero-wrapper
	{
		height: calc(100vh + 50px);
	}

	.la_details-hero-wrapper .package-details
	{
		padding: 0px;
		text-align: center;
	}

	.la_details-hero-wrapper .package-details h1.h1
	{
		margin-bottom: 10px;
	}


	.la_details-hero-wrapper .package-details p.item_geo,
	.la_details-hero-wrapper .package-details p.item_geo_2
	{
		/*display: block;*/
		line-height: 1;
		font-size: 1em;
	}

	.la_details-hero-wrapper .package-details .item_geo_map
	{
		margin-top: 8px;
	}

	.la_details-hero-wrapper .package-details .mini-details
	{
		background: #eee;
		padding: 15px 5px 15px;
		border-bottom: 1px solid #eee;
		text-align: center;
		font-size: 0.9em;
		min-height: 0;
		padding: 8px 0;
	}

	.la_details-hero-wrapper .package-details .mini-details p
	{
		color: #333;
		line-height: 1.2;
	}

	.la_details-hero-wrapper .package-details p.item_duration::before,
	.la_details-hero-wrapper .package-details p.item_operator::before,
	.la_details-hero-wrapper .package-details p.item_fitness::before,
	.la_details-hero-wrapper .package-details p.item_theme::before,
	.la_details-hero-wrapper .package-details p.item_language::before,
	.la_details-hero-wrapper .package-details p.item_climate::before
	{
		margin-top: 10px;
	}

	.la_details-hero-wrapper h1
	{
		margin-bottom: 2px;
		line-height: 1.2;
	}

	.trip-content
	{
		box-shadow: none;
		padding: 20px 0;
	}

	.trip-content .expectations ul li.no
	{
		text-decoration: line-through;
	}


	.trip-content .expectations ul li span.local-says
	{
		display: none;
	}

	.btn-book-now-penguin
	{
		background: rgba(255, 160, 122, 0.75);
		opacity: 1;
		z-index: 999;
		border: 0;
	}

	.btn-book-now-penguin:hover,
	.btn-book-now-penguin:active,
	.btn-book-now-penguin:focus
	{
		background: rgba(255, 160, 122, 0.75);
	}

}
