/*@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
*/
@import url('../font_sf/usesf.css');
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/fontawesome-webfont?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fontawesome-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body
{
	font-size: 15px;
	font-family: avenir, 'avenir next', helvetica, arial, sans-serif; 
	font-weight: 400;
	position: relative;
	top: 50px;
}

/* for fixed header adjustment */

body ~ .container 
{
	position: relative;
	top: 50px;
	padding-bottom: 50px;
}

a
{
	color: salmon;
	cursor: pointer;
	text-decoration: none;
}

a:hover
{
	color: #D95E39;
	text-decoration: none;
}

h1, h2, h3, h4, h5
{
	font-weight: 500;
	font-family: 'San Francisco Display', sans-serif;
}

h5
{
	font-size: 15px;
}

.navbar-default .navbar-toggle
{
	border: none;
}

.navbar-default .navbar-collapse
{
	background: #fff;
}

.navbar-right span.glyphicon
{
	margin-right: 5px;
	font-size: 12px;
}

.navbar-right .show
{
	display: block;
}

.navbar-right .hidden
{
	display: none;
}

.navbar .dropdown-menu
{
	border: 0;
}

.navbar .dropdown-menu>li>a,
.navbar-default .navbar-nav>li>a
{
	font-size: 14px;
}

.user-avatar-container
{
	height: 140px;
	width: 140px;
	border-radius: 50%;
	background-color: salmon;
	margin: 0 auto;
	overflow: hidden;
}

.user-avatar-container img
{
	position: relative;
	width: 250px;
	left: 50%;
	margin-left: -100px;
}

.navbar .navbar-user-avatar-container
{
	height: 32px;
	width: 32px;
	border-radius: 3px;
	background-color: salmon;
	margin: 9px 3px 0 8px;
	overflow: hidden;
}

.navbar .navbar-user-avatar-container img
{
	position: relative;
	width: 36px;
	left: 50%;
	margin-left: -18px;
}

#global-header
{
	width: 100%;
	height: 50px;
}

#global-header-wrap
{
	width: 100%;
	height: 50px;
	background: #fff;
	position: fixed;
	border: none;
	/*border-bottom: 1px solid #eee;*/
	border-radius: 0px;
	z-index: 999;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.navbar-header a
{
	border: none;
}

.navbar-header a:hover
{
	border: none;
}

.la_global-header-logo
{
	width: 120px;
	position: relative;
	top: 5px;
}

.promo-code-notify
{
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	background: lightsalmon;
	color: #fff;
	border-radius: 3px;
	font-size: 13px;
	font-weight: 500;
	position: fixed;
	right: 5px;
	bottom: 5px;
	z-index: 1030;
}

.promo-code-notify code
{
	color: salmon;
	background: #fff;
	padding: 1px 6px 0;
	border-radius: 3px;
	font-size: 13px;
	margin: 0 8px;
	letter-spacing: 1px;
}

.global-footer-wrap
{
	background: #333;
	color: #fff;
}

.global-footer
{
	min-height: 40px;
	/*max-width: 900px;*/
	width: 100%;
	padding: 10px 0;
}

.global-footer .list-inline
{
	width: 100%;
	position: relative;
	padding: 0px;
	margin: 0px;
}

.global-footer .list-inline > li
{
	padding-left: 0px;
	padding-right: 10px;
	font-weight: normal;
	vertical-align: middle;
	font-size: 0.85em;
}

.global-footer img.la-footer-logo
{
	width: 80px;
	position: relative;
	float: right;
}

.global-footer .copyright
{
	float: left;
	position: absolute;
	left: 20px;
	top: 10px;
}



/* misc */

.padding-top-20
{
	padding-top: 20px !important;
}

.padding-top-10
{
	padding-top: 10px !important;
}

.padding-top-5
{
	padding-top: 5px !important;
}

.padding-bottom-20
{
	padding-bottom: 20px !important;
}

.margin-bottom-5
{
	margin-bottom: 5px !important;
}

.padding-right-0
{
	padding-right: 0px !important;
}

.padding-left-0
{
	padding-left: 0px !important;
}

.side-padding-5
{
	padding: 0 2.5px !important;
}

.no-side-padding
{
	padding-left: 0px;
	padding-right: 0px;
}

.no-bottom-margin
{
	margin-bottom: 0px !important;
}

.padding-top-30
{
	margin-top: 30px !important;
}

.no_max_height
{
	height: auto !important;
	max-height: auto !important;
}

div#basicModal.modal.fade.in
{
	padding: 0px;
}

.la_fullscreen_modal
{
	width: 100%;
	max-width: 640px;
	height: 100%;
	height: 100vh;
	max-height: 600px;
	margin: 0 auto;
	border-radius: 0px
	overflow-y: scroll;
}

.la_howitworks_modal
{
	width: 100%;
	height: 100%;
	height: 100vh;
	margin: 0 auto;
	border-radius: 0px
	overflow-y: scroll;
	background: transparent;
}

.la_fullscreen_modal .modal-content,
.la_howitworks_modal .modal-content
{
	width: 100%;
	height: 100%;
	border-radius: 0px
}

.la_howitworks_modal .modal-content
{
	background: transparent;
}

.la_fullscreen_modal .modal-content .modal-body,
.la_howitworks_modal .modal-content .modal-body
{
	height: 100%;
	width: 100%;
	padding: 0px;
}

.la_fullscreen_modal .modal-content .modal-body #fullscreen-map
{
	height: 100%;
	width: 100%;
}

.la_fullscreen_modal .modal-content .modal-body #google-map
{
	width: 100%;
	height: 100%;
}

.la_fullscreen_modal .modal-content .modal-footer,
.la_howitworks_modal .modal-content .modal-footer
{
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 35px;
	background: transparent;
	border: none;
	text-align: center;
}

@media (max-width: 991px) {


	.global-header-wrap
	{
		height: 52px;
	}

	.la_global-header-logo
	{
		top: 10px;
		left: 10px;
		width: 100px;
	}

	.la_global-header-logo
	{
		top: 8px;
	}

	.global-footer-wrap ul.list-inline
	{
		text-align: center !important;
	}

	.la-footer-logo
	{
		width: 60px;
		display: none;
	}

	.remove-on-mobile
	{
		display: none;
	}
}

@media (min-width: 992px) { 
	.container
	{
		width: 100%;
	}
}

@media (min-width: 1170px) {
	.container,
	.package-details
	{
		width: 1170px;
	}
}