*
{
	-webkit-font-smoothing: subpixel-antialiased;
}

body
{
	background: #eee;
	top: 0px;
}

/*text styles for this specific page*/

.content
{
	position: relative;
}

/*#global-header-wrap,
#global-header
{
	background: transparent;
}

.navbar-default .navbar-collapse
{
	background: transparent;
}*/

/* local alike hero*/

.la_home-header-logo
{
	width: 140px;
	position: absolute;
	top: 20px; 
	left: 20px;
}

.la_home-hero
{
	width: 100%;
	height: 550px;
	/*background: 
    linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35)
    ),url('../img/la_home-bg-5.jpg') no-repeat center center;*/
	background-size: cover;
	color: #fff;
}

.la_home-hero > .row
{
	text-align: center;
	max-width: 700px;
	padding-top: 90px;
	margin: auto;
}

.la_home-hero .la_home-hero-wrapper
{
	width: 100%;
	z-index: 999;
	top: 100px;
	position: relative;
}

.la_home-hero .carousel  h1
{
	padding-bottom: 10px;
	position: relative;
	top: 120px;
	margin: 0px;
	font-size: 3em;
	font-weight: 600;

}

.la_home-hero .la_home-hero-wrapper h2
{
	padding: 0px 20px;
	margin: 0px 0px 50px;
	font-size: 1.75em;
	color: #eee;
}

.la_home-hero-wrapper .lead
{
	margin-top: 40px;
	font-size: 1.25em;
}

.la_home-hero-wrapper .what-is
{
	padding-top: 30px;
}

.section-icon
{
	margin-top: 18px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	border: 2px solid #000;
	overflow: hidden;
	float: left;
}

.section-icon > img
{
	height: 60px;
	width: 60px;
	position: relative;
	top: 12px;
	left: 11px;
}

h2.section-header
{
	font-weight: 700;
	font-size: 1.8em;
	letter-spacing: 0.5px;
	color: #333;
	margin: 0 0 10px;
	padding: 0 10px;
}

h3.section-description
{
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	color: #888;
	padding: 0 10px;
	margin: 0 0 10px;
}

/* hero dropdown items */

.dropdown
{
	display: inline-block;
}

.btn-default,
.btn-default.la_geo-dropdown
{
	padding: 6px 10px;
}

.btn-default#menu1,
.btn-default#menu2
{
	margin-right: 10px;
}

.la_geo-dropdown > span.caret
{
	margin-left: 30px;
}

.dropdown-menu.geo-country
{
	width: 186px;
}

.dropdown-menu.geo-town
{
	width: 203px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
{
	background-color: salmon;
	color: #fff;
}

.dropdown-menu
{
	font-size: 1.25em;
}

/* carousel */

.container.promo
{
}

.container-fluid.promo
{
	padding: 20px 0 0;
}

.container.promo .content
{
	padding: 15px;
	height: 400px;
}

.content p.lead
{
	padding: 0;
}

.content h3
{
	padding: 0px;
	margin: 0px;
}

.content.la_hot-deals
{
	padding: 20px 5px;
	color: #333;
	height: 430px;
	position: relative;
}

.content.la_hot-deals h2
{
	padding-top: 20px;
}

.content.la_hot-deals p
{
	line-height: 1.25;
	color: #777;
}

.content.la_hot-deals .btn
{
	margin-top: 10px;
}

.la_popular-day > #promo-carousel,
.la_popular-overnight > #promo-carousel-2,
.la_hot-deals > #promo-carousel-3
{
	height: 430px;
	/*border: 1px solid #eee;*/
}

.la_promo-carousel
{
	/*border: 1px solid #eee;*/
}

span.promo-type
{
	position: absolute;
	left: 5px;
	top: 5px;
	font-size: 1em;
	font-weight: normal;
	padding: 2px 5px;
	text-transform: uppercase;
	margin-bottom: 2em;
	background: salmon;
	color: #fafafa;
	display: inline-block;
	z-index: 99;
	font-family: "san francisco display";
}

/* day tours */

.la_promo-carousel.la_popular-day
{
	background: transparent;
}



/*.la_promo-carousel.la_popular-day .item#day0001
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('../img/adaf_people_5.jpg') no-repeat center;
}*/

.la_promo-carousel.la_popular-day .item#day0002
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('../img/kohyaonoi_people_4_credit-graff.jpg') no-repeat center;
}

.la_promo-carousel.la_popular-day .item#day0003
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('../img/ltbkk_people_2.jpg') no-repeat center;
}

/*.la_promo-carousel.la_popular-day .item#day0004
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/tat_la/huairaeng/4.jpg') no-repeat center;
}

.la_promo-carousel.la_popular-day .item#day0005
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/tat_la/huairaeng/3.jpg') no-repeat center;
}

.la_promo-carousel.la_popular-day .item#day0006
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/tat_la/huairaeng/1.jpg') no-repeat center;
}*/

.la_promo-carousel .item
{
	background-size: cover !important;
}

/* overnight tours */

.la_promo-carousel.la_popular-overnight
{
	background: transparent;
}

.la_promo-carousel.la_popular-overnight .item#ov0001
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('../img/bangplub_food_7.jpg') no-repeat center;
}

.la_promo-carousel.la_popular-overnight .item#ov0002
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('../img/maekampong_scenery_2.jpg') no-repeat center;
}

.la_promo-carousel.la_popular-overnight .item#ov0003
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('../img/kohyaonoi_scenery_1_credit-graff.jpg') no-repeat center;
}

.carousel-indicators
{
	bottom: 115px;
	z-index: 900;
}

.carousel-control
{
	width: 10%;
	z-index: 99;
	text-shadow: none;
	opacity: 1;
}

.carousel-control.left,
.carousel-control.right
{
	background: transparent;
	border: 0;
}

.carousel-control .fa,
.carousel-control .glyphicon
{
	top: 40%;
	font-size: 20px;
}

.carousel-inner
{
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.carousel-inner .item
{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;

	background-position: center center;
}

.carousel-inner span.price
{
	font-size: 2em;
	text-align: right;
	font-weight: 500;
	color: #fff;
	right: 20px;
	bottom: 20px;
	position: absolute;
}

.carousel-inner span.price::before
{
	content: '\000E3F\00a0';
}

/*.carousel-inner span.price:first-of-type:first-letter
{
	font-weight: normal;
	font-size: 0.75em;
}*/

.carousel-inner span.price:after
{

}

.carousel-inner span.price:after
{
	content: 'per traveler';
	font-size: 15px;
	display: block;
	line-height: 1;
	font-weight: normal;
}

.carousel-caption
{
	bottom: -120px;
	left: 0px;
	right: 0px;
	z-index: 99;
	position: absolute;
	text-shadow: none;
	text-align: left;
	font-size: 14px;
	background: #fff;
	padding: 15px;
	height: 120px;
	line-height: 1.2;

	position: relative;
	bottom: initial;
}

.carousel-caption h3
{
	font-size: 1.25em;
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 0px;
	color: #333;
}

.carousel-caption span
{
	color: #777;
}

.carousel-caption span.item_geo::after
{
	content: ',';
}

/*.carousel-caption span.item_duration
{
	background: #eee;
	border-radius: 2px;
	margin-right: 4px;
	padding: 1px 6px;
	font-size: 13px;
}*/

.carousel-caption p
{
	color: #555;
	padding-top: 10px;
}

.carousel-indicators li
{
	width: 8px;
	height: 8px;
	opacity: 0.8;
}

.carousel-indicators .active
{
	width: 10px;
	height: 10px;
}

/* hot deals */

.hot-deals
{
	height: 400px;
	background: #fff;
	color: #333;
	padding-top: 50px;
}

.la_monkey_carousel_promonkey #promo01
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/tat_la/huatung/2.jpg') no-repeat center;
}

.la_promo-carousel.la_hot-deals .item#day0002
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/tat_la/huatung/1.jpg') no-repeat center;
}

.la_promo-carousel.la_hot-deals .item#day0003
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/tat_la/huairaeng/5.jpg') no-repeat center;
}

.la_promo-carousel.la_hot-deals .item#day0004
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/tat_la/huairaeng/4.jpg') no-repeat center;
}

.la_promo-carousel.la_hot-deals .item#day0005
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/tat_la/huairaeng/3.jpg') no-repeat center;
}

.la_promo-carousel.la_hot-deals .item#day0006
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/tat_la/huairaeng/1.jpg') no-repeat center;
}

.la_promo-carousel.la_hot-deals .item#day0007
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/tat_la/huairaeng/5.jpg') no-repeat center;
}

.la_promo-carousel.la_hot-deals .item
{
	background-size: cover !important;
	width: 100%;
}

.la_promo-carousel.la_hot-deals .item .deal-1,
.la_promo-carousel.la_hot-deals .item .deal-2,
.la_promo-carousel.la_hot-deals .item .deal-3
{
	width: 33.33%;
	height: 430px;
	display: block;
	float: left;
	background-size: cover !important;
}

.la_promo-carousel.la_hot-deals .item .deal-1#deal0001
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/xmas/5.jpg') no-repeat center;
}

.la_promo-carousel.la_hot-deals .item .deal-2#deal0002
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/nye/1.jpg') no-repeat center;
}

.la_promo-carousel.la_hot-deals .item .deal-3#deal0003
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/nye/5.jpg') no-repeat center;
}

.la_promo-carousel.la_hot-deals .item .deal-1#deal0004
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/nye/6.jpg') no-repeat center;
}

.la_promo-carousel.la_hot-deals .item .deal-2#deal0005
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/kiva/1.jpg') no-repeat center;
}

.la_promo-carousel.la_hot-deals .item .deal-3#deal0006
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/kiva/2.jpg') no-repeat center;
}

.la_promo-carousel.la_hot-deals .item .deal-1#deal0007
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/kiva/3.jpg') no-repeat center;
}

.la_promo-carousel.la_hot-deals .item .deal-2#deal0008
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/kiva/5.jpg') no-repeat center;
}

.la_promo-carousel.la_hot-deals .item .deal-3#deal0009
{
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('http://localalike.com/share/src/image/showcase/tat_la/kohyaonoi/1.jpg') no-repeat center;
}

.la_promo-carousel.la_hot-deals .item .deal-1 .carousel-caption
{
	width: 33.333%;
	left: 0px;
}

.la_promo-carousel.la_hot-deals .item .deal-2 .carousel-caption
{
	width: 33.333%;
	left: 33.333%;
}

.la_promo-carousel.la_hot-deals .item .deal-3 .carousel-caption
{
	width: 33.333%;
	left: 66.666%;
}

.la_monkey_carousel_promonkey .item .promo_price
{
	bottom: 0px;
	right: 20px;
	display: block;
	position: absolute;
	height: auto;
	width: auto;
	text-align: right;
	z-index: 10;
}

.promo_price span.label
{
	display: block;
	color: #fff;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: normal;
	padding: 7px 0px 0px;
	color: #fff;
	text-align: right;
}

.la_monkey_carousel_promonkey .item .price_before
{
	display: block;
	padding: 0px;
	margin: 0px;
	white-space: nowrap;
	text-decoration: line-through;
	position: relative;
	font-size: 14px;
	margin-bottom: 25px;
	line-height: 1;
	color: #fff;
	text-align: right;
}

.la_monkey_carousel_promonkey .item .price_before::before
{
	content: '\000E3F\00a0';
}

.la_monkey_carousel_promonkey .item .price_before:first-of-type:first-letter
{
/*	font-weight: normal;
	font-size: 0.5em;*/
}

.la_monkey_carousel_promonkey .item .price
{
	/* top: 30px; */
	/* right: 10px; */
	position: relative;
	top: auto;
	right: auto;
	display: block;
	padding: 0px;
	margin: 0px;
	color: #fff;
	font-size: 26px;
	font-weight: bold;
}

.la_monkey_carousel_promonkey .item .price:first-of-type:first-letter
{
/*	font-weight: 500;
	font-size: 0.75em;*/
}

.la_promo-carousel.la_hot-deals .item .price_before::before
{
	/*content: '$ ';*/
}

.la_monkey_carousel_promonkey .item .price::before
{
	content: '\000E3F\00a0';
	display: inline-block;
	line-height: 1;	
	text-decoration: none;
}

.la_promo-carousel.la_hot-deals .item .deal-1 .price,
.la_promo-carousel.la_hot-deals .item .deal-1 .price_before
{
	width: 33.333%;
	right: 0px;
}

.la_promo-carousel.la_hot-deals .item .deal-2 .price,
.la_promo-carousel.la_hot-deals .item .deal-2 .price_before
{
	width: 33.333%;
	right: 33.333%;
}

.la_promo-carousel.la_hot-deals .item .deal-3 .price,
.la_promo-carousel.la_hot-deals .item .deal-3 .price_before
{
	width: 33.333%;
	right: 66.666%;
}

/* cta boxes */

.container.cta
{
}

.container-fluid.cta
{
	padding: 0 0 0;
}

.la_cta-box
{
	/*border: 1px solid #eee;*/
	height: 240px;
	width: 100%;
	display: table;
	color: #fff;
	padding: 20px;
	border-radius: 3px;

	-moz-transition: all .1s;
	-webkit-transition: all .1s;
	transition: all .1s;
	-moz-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
}

.la_cta-box:active,
.la_cta-box:focus
{
	-moz-transform: scale(0.98,0.98);
	-webkit-transform: scale(0.98,0.98);
	transform: scale(0.85,0.98);
}

.la_cta-box#blog
{
	background: 
	linear-gradient(
      rgba(255, 240, 10, 0.25), 
      rgba(255, 240, 10, 0.25)
    ),
    url('../img/la_blog-2.jpg');
   	background-size: cover;
   	height: 100%;
}

.la_cta-box#blog .content,
.la_cta-box#impact .content
{
	vertical-align: bottom;
}

.la_cta-box#blog .content h3
{
	font-weight: 200;
	font-size: 2.75em;
}

.la_cta-box#impact
{
	background: 
	linear-gradient(
      rgba(255, 240, 10, 0.25), 
      rgba(255, 240, 10, 0.25)
    ),
    url('../img/la_blog-2.jpg');
   	background-size: cover;
}

.la_cta-box#mktg-1
{
	background: 
	linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('../img/la_mktg-1.jpg');
   	background-size: cover;
}

.la_cta-box#mktg-2
{
	background: 
	linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('../img/la_mktg-2.jpg');
   	background-size: cover;
}

.la_cta-box#mktg-3
{
	background: 
	linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('../img/la_mktg-3.jpg');
   	background-size: cover;
}

.la_cta-box .content
{
	display: table-cell;
	vertical-align: middle;
}

.container-fluid.collections
{
	background: #fff;
}

.container-fluid.featured-tours
{
	background: #eee;
}

.container-fluid.stories
{
	background: #fff;
}

.container-fluid.collections > .row,
.container-fluid.featured-tours > .row,
.container-fluid.stories > .row
{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 0 60px;
}

.container-fluid.featured-tours .row:first-of-type
{
	border-bottom: 1px solid #dadada;
}

.container-fluid.collections img.smcollection,
.container-fluid.collections img.lgcollection,
.container-fluid.collections img.ais-banner
{
	width: 100%;
}

@media (max-width: 991px) {

	.la_home-hero > .row
	{
		padding: 0;
	}

	.la_home-hero .la_home-hero-wrapper
	{
		height: 200px;
		padding-top: 0px;
		top: 80px;
	}

	.la_home-hero .carousel h1
	{
		letter-spacing: -0.5px;
		font-size: 30px;
		font-weight: 700;
	}

	.la_home-hero .la_home-hero-wrapper h2
	{
		padding: 0px 20px;
		margin: 0px 0px 50px;
		font-size: 1.25em;
		color: #eee;
	}

	.la_home-hero
	{
		height: 550px;
		padding: 100px 10px 40px;
		text-align: left;
	}

	.la_home-hero .home_submit 
	{
		text-align: center;
	}

	.la_home-hero-wrapper .select-block
	{
		width: 50%;
	}

	.la_home-hero-wrapper .select-block select[name="country"]
	{
		-webkit-border-top-left-radius: 3px;
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-bottomleft: 0px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 0px;
	}

	.la_home-hero-wrapper .select-block select[name="town"]
	{
		-webkit-border-top-right-radius: 3px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-topright: 3px;
		-moz-border-radius-bottomright: 0px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 0px;
	}

	.la_home-hero-wrapper .btn-search-now
	{
		width: 100%;
		-webkit-border-bottom-right-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-webkit-border-top-right-radius: 0px;
		-moz-border-radius-bottomright: 3px;
		-moz-border-radius-bottomleft: 3px;
		-moz-border-radius-topright: 0px;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0px;
	}

	.la_home-header img.la_home-header-logo
	{
		width: 100px;
	}

	.la_home-hero .what-is
	{
		text-align: center;
	}

	.la_home-hero .what-is::after
	{
		font-family: FontAwesome;
		font-size: 14px;
		content: 'Swipe up for more  \f139';
		color: #999;
		position: relative;
		bottom: -20px;
	}

	.la_home-hero .what-is p
	{
		display: none;
	}

	/*.la_home-hero-wrapper .btn-search-now span
	{
		display: none;
	}*/

	.section-icon
	{
		float: initial;
		margin: 0 auto;
	}

	.dropdown
	{
		display: block;
	}

	.carousel-indicators
	{
		display: none;
	}

	.la_popular-day > #promo-carousel, 
	.la_popular-overnight > #promo-carousel-2, 
	.la_hot-deals > #promo-carousel-3
	{
		height: 330px;
	}

	.la_promo-carousel .item
	{
		background-size: cover !important;
	}

	.la_monkey_carousel_promonkey .item .carousel-caption .content h2.item_name, .card .item .carousel-caption .content h2.item_name
	{
		font-size: 1.25em;
		letter-spacing: -0.05px;
		word-spacing: -0.5px;
	}

	.container.promo .content
	{
		padding: 10px;
	}

	.content.la_hot-deals
	{
		height: auto;
		padding: 20px;
		margin-bottom: 20px;
		text-align: center;
		border: none;
		background: salmon;
		color: #fff;
	}

	.content.la_hot-deals p
	{
		color: #fff;
		font-weight: 500;
	}

	.content.la_hot-deals span.promo-type
	{
		position: relative;
		left: 0;
		right: 0;
		margin-bottom: 0.5em;
		font-size: 1.25em;
		font-weight: 500;
		background: #fff;
		color: salmon;
	}

	.content.la_hot-deals a
	{
		background: #fff;
		border: 0;
		color: salmon;
	}

	.la_promo-carousel.la_hot-deals .item .deal-1,
	.la_promo-carousel.la_hot-deals .item .deal-2,
	.la_promo-carousel.la_hot-deals .item .deal-3
	{
		width: 100%;
	}

	.la_promo-carousel.la_hot-deals .item .deal-1 .carousel-caption
	{
		width: 100%;
		left: initial;
	}

	.la_promo-carousel.la_hot-deals .item .deal-2 .carousel-caption
	{
		width: 100%;
		left: initial;
	}

	.la_promo-carousel.la_hot-deals .item .deal-3 .carousel-caption
	{
		width: 100%;
		left: initial;
	}

	.la_promo-carousel.la_hot-deals .item .deal-1 .price,
	.la_promo-carousel.la_hot-deals .item .deal-1 .price_before
	{
		width: 100%;
		right: initial;
	}

	.la_promo-carousel.la_hot-deals .item .deal-2 .price,
	.la_promo-carousel.la_hot-deals .item .deal-2 .price_before
	{
		width: 100%;
		right: initial;
	}

	.la_promo-carousel.la_hot-deals .item .deal-3 .price,
	.la_promo-carousel.la_hot-deals .item .deal-3 .price_before
	{
		width: 100%;
		right: initial;
	}
	.la_cta-box
	{
		margin-bottom: 20px;
	}
}

/* home hero carousel */

/*
inspired from http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item 
{
	opacity: 0;
	transition-property: opacity;
}

.carousel-fade .carousel-inner .active 
{
 	opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right 
{
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right 
{
  opacity: 1;
}

.carousel-fade .carousel-control 
{
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

#home-hero-bg
{
	height: 550px;
	width: 100%;
	position: absolute;
	top: 50px;
	left: 0px;
	z-index: 0;
}

#home-hero-bg .item
{
	height: 550px;
	width: 100%;
	background-size: cover !important;
	background-repeat: no-repeat;
}

.item:nth-child(1) 
{
	background: url('../img/la_home-bg-6.jpg');
	background-size: cover !important;
}

.item:nth-child(2) 
{
	background: url('../img/la_home-bg-5.jpg');
	background-size: cover !important;
}

.item:nth-child(3) 
{
	background: url('../img/la_home-bg-8.jpg');
	background-size: cover !important;
}