.la_fullscreen_modal
{
	width: 100%;
	box-shadow: none;
	height: auto;
	max-height: none;
}

.itinerary_wrapper
{
	padding: 40px 20px 30px;
}

.la_fullscreen_modal .modal-content
{
	height: auto;
	margin: 0;
	padding: 0px;
	font-weight: 500;
	box-shadow: none;
	border: none;
}

.la_fullscreen_modal .modal-content h2
{
	color: salmon;
	font-weight: 700;
	margin-bottom: 20px;
	font-size: 20px;
}

.la_fullscreen_modal .modal-content h3
{
	color: salmon;
	font-weight: bolder;
	font-size: 15px;
	margin-top: 0px;
}

.la_fullscreen_modal .modal-content p
{
	color: #888;
}

.la_fullscreen_modal .modal-content p.lead
{
	color: #444;
}

