.modal_profiles
{
	color: #333;
	padding: 0px;
	overflow: hidden;
	text-align: left;
	position: relative;
}

.modal_profiles span.chimpanzee-close
{
	position: absolute;
	right: 10px;
	top: 10px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	z-index: 999;
}

.modal_profiles span.chimpanzee-glyph
{
	margin-left: 5px;
	font-size: 13px;
}

.modal_profiles_bg
{
	height: 300px;
	width: 100%;
	background: teal;
	margin: 0px;
	background-size: cover !important;
	background-position: center center !important;
	position: relative;
	text-align: center;
	display: table;
}

.modal_profiles_bg h1
{
	text-align: center;
	color: #fff;
	font-size: 3em;
	font-weight: 300;
	display: table-cell;
	vertical-align: middle;
}

.modal_profiles_bg span.glyphicon-menu-down
{
	position: relative;
	color: #fff;
	font-size: 1.5em;
	top: 80px;
}

.modal_profiles .modal_profiles_content
{
	text-align: left;
	padding: 20px 20px 40px;
	margin: 0px;
	overflow: hidden;
	position: relative;
	background: #fff;
	color: #666;
	font-weight: 500;
}

.modal_profiles .modal_profiles_content a
{
	font-weight: 700;
}

.modal_profiles .modal_profiles_content.physical-demand
{
	text-align: center;
}

.modal_profiles .modal_profiles_content.physical-demand i
{
	font-size: 3em;
}

.modal_profiles .modal_profiles_content.physical-demand i.fa-birthday-cake
{
	color: pink;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: lightblue;
}

.modal_profiles .modal_profiles_content.physical-demand i.fa-heartbeat
{
	color: red;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkred;
}

.modal_profiles .modal_profiles_content.physical-demand i.fa-trophy
{
	color: yellow;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}

.modal_profiles .modal_profiles_content.physical-demand h2
{
	margin-top: 20px;
	font-size: 1.25em;
	font-weight: 700;
}

.modal_profiles .modal_profiles_content h1
{
	color: salmon;
	font-size: 30px;
	font-weight: 700;
	margin: 10px 0 5px 0;
}

.modal_profiles .modal_profiles_content h2
{
	margin: 0px 0px 30px;
	font-size: 20px;
	color: #444;
}

.modal_profiles .btn-close-modal
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	display: block;
	border-radius: 0px;
	margin-top: 50px;
}

.btn:active,
.btn:focus
{
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}

@media (max-width: 768px) {

	.modal_profiles .modal_profiles_content.physical-demand i
	{
		margin-top: 30px;
	}

}