/* some styles are contained in la_cards.css */

#monkey_baby
{
  height: 432px;
}

.monkey_container
{
  padding: 20px;
}

.monkey_bg
{
  height: 260px;
  width: 100%;
  background-size: cover !important;
  background-position: center;
  background: teal;
  position: relative;
}

.monkey-card
{
  padding: 0px;
  padding-left: 15px;
  background: transparent;
/*  -webkit-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
  box-shadow: 0px 1px 4px 0px rgba(153,153,153,0.3);
  -moz-transition: all .1s;
  -webkit-transition: all .1s;
  transition: all .1s;
  -moz-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transform: scale(1,1);*/
}

#monkey_baby .carousel-caption
{
  position: relative;
  left: initial;
  right: initial;
  bottom: initial;
  height: 170px;
  background: #fff;
  border: none;
  
}

.la_monkey_carousel_promonkey .carousel-control {
  width: 4%;
  background-image: none;
  top: 30%;
}
.la_monkey_carousel_promonkey .carousel-control.left {
  margin-left: 20px;
}
.la_monkey_carousel_promonkey .carousel-control.right {
  margin-right: 10px;
}

.la_monkey_carousel_promonkey .cloneditem-1,
.la_monkey_carousel_promonkey .cloneditem-2,
.la_monkey_carousel_promonkey .cloneditem-3 {
  display: none;
}

@media (max-width: 991px) {
  .monkey_container
  {
    padding: 20px 10px;
  }

  .monkey-card
  {
    padding: 0px;
  }

  #monkey_baby .item
  {
    height: 430px;
    padding: 0 10px;
  }

  .la_monkey_carousel_promonkey .carousel-control.right {
    margin-right: 20px;
  }
}

@media all and (min-width: 768px) {

  .la_monkey_carousel_promonkey .carousel-inner > .active.left,
  .la_monkey_carousel_promonkey .carousel-inner > .prev {
    left: -50%;
  }
  .la_monkey_carousel_promonkey .carousel-inner > .active.right,
  .la_monkey_carousel_promonkey .carousel-inner > .next {
    left: 50%;
  }
  .la_monkey_carousel_promonkey .carousel-inner > .left,
  .la_monkey_carousel_promonkey .carousel-inner > .prev.right,
  .la_monkey_carousel_promonkey .carousel-inner > .active {
    left: 0;
  }
  .la_monkey_carousel_promonkey .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .la_monkey_carousel_promonkey .carousel-inner > .item.active.right,
  .la_monkey_carousel_promonkey .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .la_monkey_carousel_promonkey .carousel-inner > .item.active.left,
  .la_monkey_carousel_promonkey .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .la_monkey_carousel_promonkey .carousel-inner > .item.left,
  .la_monkey_carousel_promonkey .carousel-inner > .item.prev.right,
  .la_monkey_carousel_promonkey .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .la_monkey_carousel_promonkey .carousel-inner > .item > div
  {
  padding-right: 0px;
  padding-left: 15px;
  }
  .la_monkey_carousel_promonkey .carousel-inner > .active.left,
  .la_monkey_carousel_promonkey .carousel-inner > .prev {
    left: -33.33%;
  }
  .la_monkey_carousel_promonkey .carousel-inner > .active.right,
  .la_monkey_carousel_promonkey .carousel-inner > .next {
    left: 33.33%;
  }
  .la_monkey_carousel_promonkey .carousel-inner > .left,
  .la_monkey_carousel_promonkey .carousel-inner > .prev.right,
  .la_monkey_carousel_promonkey .carousel-inner > .active {
    left: 0;
  }
  .la_monkey_carousel_promonkey .carousel-inner .cloneditem-2,
  .la_monkey_carousel_promonkey .carousel-inner .cloneditem-3 {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .la_monkey_carousel_promonkey .carousel-inner > .item.active.right,
  .la_monkey_carousel_promonkey .carousel-inner > .item.next {
    -webkit-transform: translate3d(33.33%, 0, 0);
            transform: translate3d(33.33%, 0, 0);
    left: 0;
  }
  .la_monkey_carousel_promonkey .carousel-inner > .item.active.left,
  .la_monkey_carousel_promonkey .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-33.33%, 0, 0);
            transform: translate3d(-33.33%, 0, 0);
    left: 0;
  }
  .la_monkey_carousel_promonkey .carousel-inner > .item.left,
  .la_monkey_carousel_promonkey .carousel-inner > .item.prev.right,
  .la_monkey_carousel_promonkey .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}